---
layout: layout.njk
---

<div class="column is-12 has-text-centered pb-5">
  <h1 id="dashboard-title" class="title"></h1>
  <h2 class="subtitle">Today</h2>
</div>

<section
  id="dashboard"
  class="container columns is-multiline box has-background-grey-darker is-flex is-justify-content-space-evenly"
></section>

<script src="/js/dashboard.js"></script>
