---
layout: layout.njk
---

<main class="container p-6">
  <div class="has-text-centered pb-5">
    <h1 class="title">Dashboard</h1>
    <h2 class="subtitle">Today</h2>
  </div>

  <section
    id="dashboard"
    class="columns is-multiline box has-background-grey-darker"
  ></section>
</main>

<script src="/js/dashboard.js"></script>
