<footer class="footer has-background-black has-text-white">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <img
          class="image is-24x24 is-inline has-text-white"
          src="/images/cloud.png"
          alt="cloud"
        />
        (Whether) Weather
      </p>
      <p>
        © 2025 Andre Pangoni.
        <a
          class="footer-link"
          href="https://github.com/andreeeeh/whether-weather"
          target="_blank"
        >
          GitHub
        </a>
      </p>
    </div>
  </div>
</footer>
