<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Whether Weather</title>
    <link rel="icon" type="image/png" href="/images/cloud.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="/controllers/bulma.controller.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/localizedFormat.js"></script>
    <script src="/models/whether-weather.models.js"></script>
    <script src="/view/navbar.view.js"></script>
    <script src="/controllers/navbar.controller.js"></script>
    <script src="/data/weather_data.js"></script>
  </head>
  <body>
    {% include "header.njk" %} {% include "navbar.njk" %}
    <main class="columns is-multiline p-6">
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}
  </body>
</html>
