<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Whether Weather</title>
    <link rel="icon" type="image/png" href="/images/cloud.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
    <script src="/js/bulma.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/data/weather_data.js"></script>
  </head>
  <body>
    <div>
      {% include "header.njk" %}
      <div id="maincontent">
        <div id="navbar">{% include "navbar.njk" %}</div>
        <div id="primary">
          {{ content | safe }}
        </div>
      </div>
      {% include "footer.njk" %}
    </div>
  </body>
</html>
