<nav class="navbar has-background-black">
  <div class="container">
    <div class="navbar-brand">
      <a id="favorites" href="/?favorites=true" class="navbar-item is-hidden">
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button
              class="button"
              aria-haspopup="true"
              aria-controls="dropdown-menu4"
            >
              <span>Favorite Cities</span>
              <span class="icon is-small">
                <img
                  src="/images/star.png"
                  alt="Click to see your favorites cities dashboard"
                />
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div id="dropdown-content" class="dropdown-content"></div>
          </div>
        </div>
      </a>
      <span
        class="navbar-burger has-background-black"
        data-target="navbarMenu"
        aria-expanded="false"
      >
        <span aria-hidden="true" class="has-text-white"></span>
        <span aria-hidden="true" class="has-text-white"></span>
        <span aria-hidden="true" class="has-text-white"></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end has-background-black">
        <a href="/" class="navbar-item has-text-white is-size-5"> Dashboard </a>
        <a href="/settings" class="navbar-item has-text-white is-size-5">
          Settings
        </a>
      </div>
    </div>
  </div>
</nav>
